
{{> navbar-home}}
<!--Welcome Section-->
<section class= "main-welcome-section">
  <div class="welcome-container">
    <div class="welcome-div">
      <span class="header-custom1">Welcome To
        <span class="animolab-header">AnimoLab
          <i class="fa-solid fa-computer "></i></i>
        </span>
      </span>
    </div>
  </div>
</section>

<!--Advertise Section-->
<section class= "main-advertise-section">
    <!--Video Showcase Section-->
    <div class="video-showcase-section">
        <div class="computers-title-section d-flex flex-row ">
            <div class="one-of-third d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-gear fa-spin"></i>
            </div>
            <div class="d-flex flex-column">
                Gokongwei Hall <br><span class="computer-word-text">COMPUTERS</span>
            </div>
            <div class="one-of-third d-flex justify-content-end align-items-center">
                <i class="fa-solid fa-door-open"></i>
            </div>
        </div>
    <!--Carousel Section-->
    <div id="carouselExample" class="carousel-contianer carousel slide" data-ride="carousel">
        <div class="carousel-main carousel-inner d-flex justify-content-center">

            <div class="carousel-item active">
                <div class="carousel-item-video">
                    <video oncontextmenu="return false;" controls muted class="vid-slot">
                        <source src="videos/VID_20240202_161007.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel-item-text">
                    <div class="text-desc-section">
                        <b>State-of-the-Art Facilities:</b> Step into Gokongwei Hall's computer lab, where cutting-edge technology meets innovative learning.
                        Equipped with the latest computers, high-speed internet, and interactive displays, our lab provides students with an
                        unparalleled environment for digital exploration and creativity.
                    </div>
                </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-item-video">
                <video oncontextmenu="return false;" controls muted class="vid-slot">
                  <source src="videos/VID_20240202_161038.mp4" type="video/mp4">
                </video>
              </div>
              <div class="carousel-item-text">
                The layout of the lab is both functional and flexible, with clusters of workstations arranged strategically to encourage collaboration and interaction among students.
                Each workstation boasts a sleek, modern design, featuring ergonomic chairs and adjustable desks that cater to the comfort of every individual.
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-item-video">
                <video oncontextmenu="return false;" controls muted class="vid-slot">
                  <source src="videos/VID_20240202_161121.mp4" type="video/mp4">
                </video>
              </div>
              <div class="carousel-item-text">
                <b>24/7 Learning Access:</b> Learning doesn't stop when the school day ends. Our computer labs offer 24/7 access to online resources, tutorials, and virtual learning platforms,
                allowing students to continue their educational journey beyond the classroom walls.
                With round-the-clock access to technology, the possibilities for learning are endless.
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-item-video">
                <video oncontextmenu="return false;" controls muted class="vid-slot">
                  <source src="videos/VID_20240202_160820.mp4" type="video/mp4">
                </video>
              </div>
              <div class="carousel-item-text">
                <b>Collaborative Workspace:</b> Our computer lab is more than just rows of computers; it's a collaborative workspace where students come together to brainstorm ideas,
                solve problems, and create innovative solutions. Whether working on group projects or individual assignments,
                students have access to the tools and resources they need to succeed.
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-item-video">
                <video oncontextmenu="return false;" controls muted class="vid-slot">
                  <source src="videos/VID_20240202_160801.mp4" type="video/mp4">
                </video>
              </div>
              <div class="carousel-item-text">
                <b>Coding Playground:</b> Our computer lab is a coding playground where students can experiment with different programming languages,
                tackle coding challenges, and develop their own software applications. With guidance from experienced instructors and access to a vast array of resources,
                students can turn their coding dreams into reality.
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-item-video">
                <video oncontextmenu="return false;" controls muted class="vid-slot">
                  <source src="videos/VID_20240202_161619.mp4" type="video/mp4">
                </video>
              </div>
              <div class="carousel-item-text">
                <b>Future-Ready Infrastructure:</b> The Gokongwei Hall is equipped with a future-ready infrastructure designed to adapt to emerging technologies and trends.
                From cloud computing and artificial intelligence to cybersecurity and data analytics,
                our lab prepares students for the jobs of tomorrow by staying ahead of the curve in technology education.
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="spacer"></div>
    </div>
</section>

<!--Call to Action Section-->
<section class= "call-to-action-section">
  <div class="call-to-action-container">
    <div class="call-to-action-div">
      <div class="signup-icon">
        <i class="fa-solid fa-user fa-5x custom-color2"></i>
      </div>
      <div class="login-icon">
        <i class="fa-solid fa-right-to-bracket fa-5x custom-color2"></i>
      </div>
      <p class="custom-color2">
        Book a Lab Slot now by using your DLSU ID and password.<br>
        Click <a class="call-link no-decor custom-color3" href="/register">Register</a> for a new Account
        <br>
        Click <a class="call-link no-decor custom-color3" href="/login">Login</a> if you are already Registered
      </p>
    </div>
  </div>
</section>
